# Emacs
.custom.el
.secret.el
dotemacs.el
auto-save-list/
backups/
elpa/
eshell/
games/
request/
semanticdb/
server/
transient/
url/

# Third-party packages
.amx
.desktop*
.lsp
.multiple-cursors.el
.projectile*
