# Emacs
auto-save-list/
backups/
eln-cache/
elpa/
eshell/
games/
request/
semanticdb/
server/
transient/
url/
.secret.el
dotemacs.el

# Third-party packages
.cache/
.amx
.desktop*
.lsp
.multiple-cursors.el
.projectile*
