# Emacs
*~
*.elc
.custom.el
.dir-locals.el
.secret.el
dotemacs.el
auto-save-list/
elpa/
games/
semanticdb/
url/

# Third-party packages
.emacs.desktop*
.multiple-cursors.el
.projectile
.projectile.cache
.projectile-bookmarks.eld

# OS X
.DS_Store
