[submodule "company-mtg"]
    path = lisp/company-mtg
    url = https://github.com/angrybacon/company-mtg.git
[submodule "locust"]
    path = lisp/locust
    url = https://github.com/angrybacon/locust.git
[submodule "mdi"]
    path = lisp/mdi
    url = https://github.com/angrybacon/mdi.git
[submodule "mtg"]
    path = lisp/mtg
    url = https://github.com/angrybacon/mtg.git
[submodule "zenmelt"]
	path = lisp/zenmelt
	url = https://github.com/angrybacon/zenmelt.git
